@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;900&display=swap');


.logo{
    width: 50px;
    cursor: pointer;
}
.menu{
    width: 40px;
    cursor: pointer;
    z-index: 100;
}
.nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: 20px;
}
.menubox
{
    display: none;
}
.right{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.headerbtn{
  width: 200px;
}
.menubox
{ 
    font-family: 'Red Hat Display', sans-serif;
  font-weight: 600;
  font-size: 15px;
    position: absolute;
    top: 90px;
    z-index: 9999999;
    display: flex;
        background: linear-gradient(179deg, #5BB3EB -14.96%, #D467E2 117.48%);

    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: black;
    /* width: max-content;
    height: max-content; */
    gap: 20px;
    animation: slideIn 0.5s forwards; /* Apply the slide-in animation */
    right: 100px;
    color: white !important;
    border-radius: 20px;
}
.menubox div a:hover{
  color: #FBBD18;
}
@media screen and (max-width:1000px) {
.menubox
{ 
    font-family: 'Red Hat Display', sans-serif;
  font-weight: 600;
  font-size: 15px;

    z-index: 100;
    display: flex;
        background: linear-gradient(179deg, #5BB3EB -14.96%, #D467E2 117.48%);

    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: black;
    /* width: max-content; */
    /* height: max-content; */
    gap: 20px;
    animation: slideIn 0.5s forwards; /* Apply the slide-in animation */
    position: absolute;
    top: 90px;
    right: 20px ;
    color: white !important;
    width: 50%;
}


/* Define a class to trigger the slide-out animation */
.menubox.slide-out {
  animation: slideOut 0.5s forwards; /* Apply the slide-out animation */
}

/* Define the keyframes for the slide-out animation */
@keyframes slideOut {
  from {
    left: 0; /* Start in the center of the screen */
  }
  to {
    left: -100%; /* Slide off-screen to the left */
  }
}
.headerbtn{
  width: 100px;
}
.menubtn{
  width: 30px;
  cursor: pointer;
  z-index: 100;
}
}