.dive{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    flex-direction: column;
    z-index: 1;
}
.dive div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 30px;
    margin-top: 100px;


}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media screen and (max-width:1000px) {
    .dive div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90%;
        gap: 30px;
        margin-top: 100px;
    
    
    }
    .banner{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    } 
}