@import url('https://fonts.googleapis.com/css2?family=Exo:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@300;700&display=swap');

.creator{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-top: 300px;
  
}
.creatorBox{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 80%; position: relative;
}
.creatorLeft{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 45%;
    
}
.creatorLeftText1{
    color: white;
  font-weight: 700;
  font-family: 'Tomorrow', sans-serif;
 text-transform: uppercase;
  font-size: 60px;

}
.creatorLeftText2{
    color: transparent;
    text-shadow: 2px white;
    font-family: 'Tomorrow', sans-serif;
    text-transform: uppercase;

    -webkit-text-stroke: 2px white;
  font-weight: 700;
  font-size: 60px;

}
.creatorLeftText3{
    color: rgba(255, 255, 255, 0.47);

  font-weight: 300 !important;
  font-family: 'Tomorrow', sans-serif;
margin-top: 30px;
  font-size: 18px;
  border-left: 3px solid white;
  padding-left: 30px;

}
.creatorRight{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    width: 80%;
    position: relative;
}
.creatorRightBox{
    position: relative;
}

.ellipse{
    width: 100%;
}
.parallaxPhone{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
}
.phone{
  
    width: 350px;
}
.parallaxBtn1{
    position: absolute;
    top: 10%;
    left: 0;
}
.creator_btn1{
    width: 300px;

}
.parallaxBtn2{
    position: absolute;
    bottom: 10%;
    right: 0;
}
.creator_btn2{
    width: 300px;

}
.parallaxBtn3{
    position: absolute;
    bottom: 0%;
    left: 0%;
}
.creator_logo{
    width: 200px;

}
.parallaxBtn4{
    position: absolute;
    bottom: -100px;
    right: -50px;
   
}
.creator_btn4{
    width:400px;
    cursor: pointer;

}
.logo{
    width: 200px;
    height: auto;
    position: absolute;
    right: 10%;
    top: -20%;
}

@media screen and (max-width:1000px) {
    .creator{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        margin-top: 150px;
    }
    .creatorBox{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        width: 80%; position: relative;
    }
    .creatorLeft{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-top: 70px;
        
    }
    .creatorLeftText1{
        color: white;
      font-weight: 700;
      font-family: 'Tomorrow', sans-serif;
     text-transform: uppercase;
      font-size: 30px;
    
    }
    .creatorLeftText2{
        color: transparent;
        text-shadow: 2px white;
        font-family: 'Tomorrow', sans-serif;
        text-transform: uppercase;
    
        -webkit-text-stroke: 2px white;
      font-weight: 700;
      font-size: 30px;
    
    }
    .creatorLeftText3{
        color: rgba(255, 255, 255, 0.47);
      font-weight: 300 !important;
      font-family: 'Tomorrow', sans-serif;
    margin-top: 30px;
      font-size: 16px;
    
    }
    .creatorRight{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        position: relative;
        margin-top: 0px;
    }
    .creatorRightBox{
        position: relative;
    }
    
    .ellipse{
        width: 100%;
    }
    .parallaxPhone{
        position: absolute;
        top: -8%;
        left: 60%;
        width: 100%;
    }
    .parallaxPhone img{
      
        width: 200px;
    }

    .parallaxBtn1{
        position: absolute;
        top: 0;
        left: 0;
    }
    .creator_btn1{
        width: 150px;
    
    }
    .parallaxBtn2{
        position: absolute;
        bottom: 10%;
        right: 20%;
    }
    .creator_btn2{
        width: 100px;
    
    }
    .parallaxBtn3{
        position: absolute;
        bottom: -10%;
        left: -10%;
    }
    .creator_logo{
        width: 50%;
    
    }
    .parallaxBtn4{
        position: relative;
        top: 0px;
        right: 0;
        margin-top: 30px;
        display: flex;
        justify-content: flex-start;
        width: 100%;
       
    }
    .creator_btn4{
        width: 250px;
        cursor: pointer;
    
    }
    .logo{
        width: 200px;
        height: auto;
        position: absolute;
        right: 10%;
        top: -20%;
    }  
}